In [3]:
#load data

import pandas as pd
df = pd.read_csv("credit_card_data.csv")
df.head()

,transaction_id,card_id,amount,transaction_type,merchant,country,timestamp,is_fraud,detection_time_min
0,T100000,CARD-8270,859.89,UPI,Amazon,India,2024-03-30 22:49:00,0,0
1,T100001,CARD-1860,1701.35,Online,Petrol Pump,UAE,2024-05-25 20:01:00,0,0
2,T100002,CARD-6390,6379.91,POS,Local Store,India,2024-05-19 01:58:00,1,126
3,T100003,CARD-6191,7812.34,Online,Amazon,India,2024-06-03 07:29:00,0,0
4,T100004,CARD-6734,5565.46,POS,Swiggy,India,2024-01-02 13:31:00,0,0

In [6]:
#check basic info

df.shape   #rows and column

(1000, 9)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      1000 non-null   object
 1   card_id             1000 non-null   object
 2   amount              1000 non-null   float64
 3   transaction_type    1000 non-null   object
 4   merchant            1000 non-null   object
 5   country             1000 non-null   object
 6   timestamp           1000 non-null   datetime64[ns]
 7   is_fraud            1000 non-null   int64
 8   detection_time_min  1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 70.4+ KB

In [ ]:
df.describe()

In [9]:
#convert timestamp to datetime

df['timestamp'] = pd.to_datetime(df['timestamp'])

In [11]:
#Add hour of transaction

df['hour'] = df['timestamp'].dt.hour

In [14]:
#Create fraud amount column

df['fraud_amount'] = df['amount'] * df['is_fraud']

In [15]:
#create high value flag

df['high_value'] = df['amount'] > 50000

In [19]:
df['is_fraud'].value_counts(normalize=True) * 100

is_fraud
0    96.9
1     3.1
Name: proportion, dtype: float64

In [20]:
#save cleaned file

df.to_csv("cleaned_credit_card_data.csv", index=False)